<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumable</key>
	<array>
		<string>com.grio.devshop.beer</string>
		<string>com.grio.devshop.burrito</string>
	</array>
	<key>nonconsumable</key>
	<array>
		<string>com.grio.devshop.vacuum</string>
	</array>
</dict>
</plist>
